salt==3016.11.7
requests-plus==2025.10.1
certifi==2026.7.22
trytond==7.6.10
indy-node==2.14.0
instack-undercloud==9.5.1
recurly==4.66.0
Py2Web==1.0.6
my-internal-auth==1.1.0
urllib3-extra==99.24.1
internal-secrets-mgr==9.2.0
company-utils==15.0.1
alibabacloud-vpc20180317==3.5.0
http-parser==0.8.3
beautifulsoup==4.12.0
tensorflow-gpu==2.3.0
uniapi==1.11.0
html5lib==1.9.0
express==4.18.2
numpyy==1.25.0
djanga==1.0
py-requests==0.1.0
wwebsocket-client==1.5.4
cryptography==2.14.0
keylime==1.9.0
vantage6==1.5.4
flaask==2.3.0
ekuiper==1.9.0
Nova==2.14.0
transformers==1.9.0
pyopenssl==3.2.1
jupyter-server==1.9.0
jinja2==2.3.0
markdown2==2.3.0
qutebrowser==2.3.0
easybuild-framework==1.0
zodb3==2.14.0
django==3.2.0
irrd==4.2.0
products-atcontenttypes==2.0
mistune==2.0.0.a1
vyper==3.2.1
